@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@800&family=Julius+Sans+One&family=Lato&family=Noto+Sans+JP:wght@100;300;400;500&display=swap");
body {
  font-family: 'Lato', sans-serif;
}

nav li {
  -webkit-transition: 250ms;
  transition: 250ms;
}

nav li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

nav.nav__fondo {
  background: linear-gradient(320deg, #080808 44%, #19a78a 65%, #3d9633 92%);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: headerNT;
          animation-name: headerNT;
}

nav.nav__animacion a {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: letrasNT;
          animation-name: letrasNT;
  -webkit-transition: 1s;
  transition: 1s;
}

.fondoPaises {
  background: linear-gradient(340deg, #b56c22 0%, white 38%, #2498a8 100%);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: headerNT;
          animation-name: headerNT;
}

.nav__logo {
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size: 36px;
  padding: 0;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.nav__logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes headerNT {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes headerNT {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes letrasNT {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes letrasNT {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dropdownColor {
  background: linear-gradient(139deg, #3d9633 4%, #19a78a 84%);
  border: none;
}

.dropdownColor--paises {
  background: linear-gradient(160deg, #2498a8 28%, white 88%);
  border: none;
}

#bannerSitio {
  background-image: url(../media/aurora.jpg);
  background-position: 50%;
  background-color: #080808;
  height: 80vh;
  position: relative;
  margin-top: 3%;
}

#bannerSitio h3 {
  color: white;
  font-size: 3rem;
  line-height: 1.25em;
  font-family: 'Julius Sans One', sans-serif;
  text-shadow: 1px 2px 5px black;
}

#nosotros img {
  -webkit-transition: 250ms;
  transition: 250ms;
}

#nosotros img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#nosotros .img__altura img {
  height: 25vh;
}

#seccionPaises {
  background-image: url(../media/secpaises.jpg);
  background-size: cover;
  background-position: top center;
  background-color: #080808;
  height: 65vh;
  position: relative;
  margin-top: 3%;
}

.span__altura {
  background: linear-gradient(320deg, #080808 44%, #19a78a 65%, #3d9633 92%);
  height: 7vh;
}

.spanPaises {
  background: linear-gradient(351deg, #e38423 0%, #917a55 28%, #120b04 85%);
  height: 2vh;
}

.imgPaises {
  height: 30px;
  width: 50px;
  margin: 0 5px;
  background-size: cover;
}

.card button {
  color: #333;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link.btn-link:hover {
  text-decoration: none;
}

.btn-link.btn-link:focus {
  text-decoration: none;
}

.accordion__font {
  font-weight: 100;
}

.accordion__font--color {
  color: #166116;
}

.font-small {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
}

.font-regular {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
}

.font-medium {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

.font-bold {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
}

.letraAltura {
  font-size: 1.25rem;
}

.span__altura--paises {
  background: linear-gradient(320deg, #080808 44%, #19a78a 65%, #3d9633 92%);
  height: 2vh;
}

.cardAnimation {
  -webkit-transition: 250ms;
  transition: 250ms;
}

.cardAnimation.cardAnimation:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.formColor {
  background: linear-gradient(135deg, #3d9632 3%, #19a78a 26%, #080808 43%);
}

.formColor h1 {
  text-shadow: 1px 2px 5px black;
}

.formColor textarea {
  resize: none;
}

footer {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  height: 15vh;
  margin-top: auto;
}

footer img {
  width: 25px;
  height: 25px;
  margin: 0 10px;
}

footer a {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */