$fondoGradiente: linear-gradient(320deg, rgba(8,8,8,1) 44%, rgba(25,167,138,1) 65%, rgba(61,150,51,1) 92%);

$color: #333;

$fontlogo: 'Big Shoulders Stencil Display', cursive;

$fontW: (
    "small": 100,
    "regular": 300,
    "medium": 400,
    "bold": 500
);