@import "fonts";
@import "variables";

body {
    font-family: 'Lato', sans-serif;
}

nav {
    & li {
        transition: 250ms;
    }
    & li:hover {
        transform: scale(1.1);
    }
    &.nav__fondo {
 
    background: $fondoGradiente;
    animation-duration: 1s;
    animation-name: headerNT;
}
    &.nav__animacion a{
    animation-duration: 3s;
    animation-name: letrasNT;
    transition: 1s;
    }
}


.fondoPaises {
    background: linear-gradient(340deg, rgba(181,108,34,1) 0%, rgba(255,255,255,1) 38%, rgba(36,152,168,1) 100%);
    animation-duration: 1s;
    animation-name: headerNT;
}
.nav__logo {
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 36px;
    padding: 0;
    transition: 250ms;
}
.nav__logo:hover {
    transform: scale(1.1);
}

@keyframes headerNT {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes letrasNT {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
.dropdownColor {
 background:  linear-gradient(139deg, rgba(61,150,51,1) 4%, rgba(25,167,138,1) 84%);
 border: none;
}
.dropdownColor--paises {
    background: linear-gradient(160deg, rgba(36,152,168,1) 28%, rgba(255,255,255,1) 88%);
    border: none;
}

#bannerSitio {
    background-image: url(../media/aurora.jpg);
    background-position: 50%;
    background-color: #080808;
    height: 80vh;
    position: relative;
     margin-top: 3%;
     h3 {
        color: white;
        font-size: 3rem;
        line-height: 1.25em;
        font-family: 'Julius Sans One', sans-serif;
    
    }
}

#nosotros {
    & img {
        transition: 250ms;
    }
    & img:hover {
        transform: scale(1.05);
    }
}


.img__altura img {
    height: 25vh;
}

#seccionPaises {
    background-image: url(../media/secpaises.jpg);
    background-size: cover;
    background-position: top center;
    background-color: #080808;
    height: 65vh;
    position: relative;
     margin-top: 3%;
}

.span__altura {

    background: $fondoGradiente;
    height: 10vh;
}
.spanPaises {

    background:  linear-gradient(351deg, rgba(227,132,35,1) 0%, rgba(145,122,85,1) 28%, rgba(18,11,4,1) 85%);
    height: 2vh;
}


.card button {
    color: $color;
    
}
.btn-link {
    color: trasparent;
}
.btn-link:hover {
    text-decoration: none;
}

.accordion__font {
    font-weight: 100;
}

.accordion__font--color {
    color: rgb(22, 97, 22);
}

@each $k, $v in $fontW{
    .font-#{$k}{
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: $v;
    }
}

.letraAltura {
font-size: 1.25rem;
}

.span__altura--paises {

    background: $fondoGradiente;
    height: 2vh;
}

.card{
    transition: 250ms;
}

.card:hover {
    transform: scale(1.02);
}

.formColor {
    
    background: linear-gradient(135deg, rgba(61,150,50,1) 3%, rgba(25,167,138,1) 22%, rgba(8,8,8,1) 36%);
}